@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600&family=Poppins:wght@400;500&family=Work+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
    --light-grey: #dce4e3;
    --text-color: #084236;
}

body {
    font-family: Poppins, Helvetica, sans-serif;
    margin: 0;
    background: var(--body-bg-color);
}

.border {
    border: 1px solid red;
}

.sidebar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    width: 250px;
    padding-top: 24px;
    background: var(--green);
    border: 1px solid red;
}

.logo-img {
    margin: 0 0 26px 29px;
    width: 64px;
    height: 25px;
}

.sidebar-menu {
    background: none;
    border: none;
    width: 24px;
    margin-right: 14px;
    margin-left: 100px; 
}

.search-bar {
    flex-direction: row;
    margin: 26px 14px 20px 14px;
    padding: 13px;
    width: 222px;
    background: var(--light-green);
    border-radius: 12px;
}

.search-bar button {
    display: inline-flex;
    background: none;
    border: none;
    width: 24px;
    border: 1px solid red;
}

.search-bar input {
    width: 180px;
    height: 23px;
    background: none;
    border: none;
    color: white;
}