@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    transition: all 0.5s ease;
}

:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
    --light-grey: #dce4e3;
    --text-color: #084236;
}

body {
    font-family: Poppins, Helvetica, sans-serif;
    margin: 0;
    background: var(--body-bg-color);
}

.container {
    display: inline-block;
}

.main, .main-hide {
    font-family: Poppins;
    margin-left: 286px;
    overflow: hidden;
    font-weight: 500;
    font-size: 25px;
    color: var(--text-color);
}

.sidebar, .sidebarOff {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    width: 250px;
    padding-top: 24px;
    background: var(--green);
}

.logo-img, .logo-imgOff {
    margin: 0 0 26px 29px;
    width: 64px;
    height: 25px;
}

.sidebar-menu, .sidebar-menu-hide {
    background: none;
    border: none;
    width: 24px;
    margin-right: 14px;
    margin-left: 100px; 
    cursor: pointer;
}

.search-bar, .search-bar-hide {
    display: flex;
    margin: 26px 14px 20px 14px;
    padding: 13px;
    width: 222px;
    background: var(--light-green);
    border-radius: 12px;
}

.search-bar button, .search-bar-hide button {
    padding: 0;
    background: none;
    border: none;
    width: 24px;
    margin-right: 13px;
}

.search-bar input, .search-bar-hide input {
    width: 180px;
    height: 23px;
    background: none;
    border: none;
    color: var(--text-color);
    font-weight: 500;
}

.search-bar input::placeholder {
    color: var(--text-color);
    font-weight: 500;
}

.btns, .btn-logout, .btnsOff, .btns-logout-hide {
    padding: 0;
    margin-left: 27px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: var(--text-color);
    font-size: 15px;
    margin-bottom: 35px;
    cursor: pointer;
}

.btns, .btnsOff {
    transition: ease-out 0.5s;
}

.btns img, .btnsOff img {
    width: 24px;
    padding: 0;
    margin-right: 13px;
}

.btns:hover, .btnsOff:hover {
    width: 222px;
    margin: 26px 14px 20px 14px;
    padding: 13px;
    border-radius: 12px;
    background: #8ed7c6;
}

.perfil, .perfil-hide {
    display: flex;
    justify-content: space-between;
    background: var(--light-green);
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    align-items: center;
}

.perfil img, .perfil-hide img {
    margin-top: 8px;
    margin-left: 13px;
    width: 45px;
    height: 45px;
    border-radius: 12px;
}

.perfil-infos, .perfil-infos-hide {
    margin-top: 10px;
    margin-left: 9px;
}

.perfil-infos-nome {
    font-size: 15px;
    font-weight: 500;
}

.perfil-infos-profissao {
    font-size: 12px;
    font-weight: 400;
}

.perfil button, .perfil-hide button {
    margin-top: 18px;
}

.perfil button img, .perfil-hide button img {
    width: 24px;
}

.btn-logout, .btns-logout-hide {
    margin-right: 10px;
}

.sidebarOff {
    width: 78px;
}

.logo-imgOff {
    display: none;
}

.sidebar-menu-hide {
    margin-left: 22px;
    background: none;
    border: none;
}

.search-bar-hide {
    background: var(--light-grey);
    width: 50px;
    height: 50px;
}

.search-bar-hide input {
    display: none;
}

.btnsOff span {
    display: none;
}

.btnsOff:hover {
    width: 50px;
    background: #8ed7c6;
}

.perfil-hide {
    display: block;
}

.perfil-hide > img {
    display: none;
}

.perfil-infos-hide {
    display: none;
}

.perfil-hide button {
    margin-top: 0;
    margin-right: 0;
    margin-left: 12px;
    background: none;
    border: none;
}

.main-hide {
    margin-left: 98px;
}