@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600&family=Poppins:wght@400;500&family=Work+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
    --light-grey: #dce4e3;
    --text-color: #084236;
}

body {
    font-family: 'Poppins', Helvetica, sans-serif;
    margin: 0;
    background: var(--body-bg-color);
}

.border {
    border: 1px solid red;
}

.sidebar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    width: 250px;
    padding-top: 24px;
    background: var(--green);
    border: 1px solid red;
}

.logo-img {
    margin: 0 0 26px 29px;
    width: 64px;
    height: 25px;
}

.sidebar-menu {
    background: none;
    border: none;
    width: 24px;
    margin-right: 14px;
    margin-left: 100px; 
}

.search-bar {
    display: flex;
    margin: 26px 14px 20px 14px;
    padding: 13px;
    width: 222px;
    background: var(--light-green);
    border-radius: 12px;
}

.search-bar button {
    padding: 0;
    background: none;
    border: none;
    width: 24px;
    margin-right: 13px;
}

.search-bar input {
    width: 180px;
    height: 23px;
    background: none;
    border: none;
    color: var(--text-color);
    font-weight: 500;
}

.search-bar input::placeholder {
    color: var(--text-color);
    font-weight: 500;
}

.btns {
    padding: 0;
    margin-left: 27px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: var(--text-color);
    font-size: 15px;
    margin-bottom: 35px;
    cursor: pointer;
}

.btns img {
    width: 24px;
    padding: 0;
    margin-right: 13px;
}

.perfil {
    display: inline-block;
    background: var(--light-green);
    width: 100%;
    border: 1px solid red;
}

.perfil img {
    float: left;
    margin-top: 8px;
    margin-left: 13px;
    margin-right: 9px;
    width: 45px;
    height: 45px;
    border-radius: 12px;
}

.perfil span {
    font-size: 15px;
    margin-top: 12px;
    margin-bottom: 0px;
}

.perfil p {
    font-size: 12px;
}

.perfil button {
    float: right;
    width: 24px;
}